#head_container {
   text-align: center;
}

#contents {
    text-align: center;
}

#content_container{
    display: inline-table;
    padding: 5px 25px;
}

#content_container > h3{
    font-style: italic;
}

body {
    background-color: ivory;
}